<div class="container about-background">
	
	<!-- header -->
	<section class="jumbotron">Meet the Team behind 
		<img src="styles/styleImgs/logo.png" alt="HueMe logo">
	</section>
	
	<!-- team contents -->
	<div class="container">
		
	<!-- Tony -->
	<div class="row">
		<div class="col-sm-4"><img src="styles/styleImgs/avatartony.png" alt="Tony Abraham"></div>
		<div class="col-sm-8">
			<span class="about-team-title">Analyst of Analysts</span>
			<span class="about-team-name">Antonios &quot;Tony&quot; Abraham</span>
			<span class="about-team-quote">
				<i class="fa fa-quote-left fa-3x fa-pull-left fa-flip-vertical"></i>
				
			</span>
			<span class="about-team-links">
				<a href="https://www.linkedin.com/in/tony-abraham-canada-20706837" target="_blank"><i class="icon-linkedin-sign"></i></a>
				<a href="" target="_blank"><i class="fa fa-github-square"></i></a>
			</span>
		</div>
		</div>
		
		<!-- Igor -->
		<div class="row">
		<div class="col-sm-8">
			<span class="about-team-title">Half man half Machine</span>
			<span class="about-team-name">Igor Romanenko</span>
			<span class="about-team-quote">
				<i class="fa fa-quote-left fa-3x fa-pull-right fa-flip-vertical fa-border"></i>
			</span>			
			<span class="about-team-links">
				<a href="https://github.com/pushnoy100500" target="_blank"><i class="fa fa-github-square fa-pull-right"></i></a>
				<a href="https://www.linkedin.com/in/igor-romanenko-b259584a" target="_blank"><i class="icon-linkedin-sign fa-pull-right"></i></a>
			</span>
		</div>
		<div class="col-sm-4"><img src="styles/styleImgs/avatarigor.png" alt="Igor Romanenko"></div>
		</div>
		
		<!-- Emily -->
		<div class="row">
		<div class="col-sm-4"><img src="styles/styleImgs/avataremily.png" alt="Emily You"></div>
		<div class="col-sm-8">
			<span class="about-team-title">Empress of AngularJS</span>
			<span class="about-team-name">Emily You</span>
			<span class="about-team-quote">
				<i class="fa fa-quote-left fa-3x fa-pull-left fa-flip-vertical fa-border"></i>
			</span>
			<span class="about-team-links">
				<a href="http://emilyyou.com" target="_blank"><i class="fa fa-external-link"></i></a>
				<a href="https://www.linkedin.com/in/emilyyou" target="_blank"><i class="icon-linkedin-sign"></i></a>
			</span>
		</div>
		</div>
		
		<!-- Josh -->
		<div class="row">
		<div class="col-sm-8">
			<span class="about-team-title">Angular Embassador &brvbar; Duke of Design</span>
			<span class="about-team-name">Josh Bruce</span>
			<span class="about-team-quote">
				<i class="fa fa-quote-left fa-3x fa-pull-right fa-flip-vertical fa-border"></i>
			</span>
			<span class="about-team-links">
				<a href="https://github.com/jjbruce" target="_blank"><i class="fa fa-github-square fa-pull-right"></i></a>
				<a href="https://www.linkedin.com/in/josh-bruce-7b3473110" target="_blank"><i class="icon-linkedin-sign fa-pull-right"></i></a>
			</span>
		</div>
		<div class="col-sm-4"><img src="styles/styleImgs/avatarjosh.png" alt="Joshua Bruce"></div>
		</div>
		
		<!-- Ryo -->
		<div class="row">
		<div class="col-sm-4"><img src="styles/styleImgs/avatarryo.png" alt="Ryo Tsune"></div>
		<div class="col-sm-8">
			<span class="about-team-title">Dutchess of Design</span>
			<span class="about-team-name">Ryo Tsune</span>
			<span class="about-team-quote">
				<i class="fa fa-quote-left fa-3x fa-pull-left fa-flip-vertical fa-border"></i>
			</span>
			<span class="about-team-links">
				<a href="http://sereneryo.com" target="_blank"><i class="fa fa-external-link"></i></a>
				<a href="https://www.linkedin.com/in/ryoko-tsune-8232b312" target="_blank"><i class="icon-linkedin-sign"></i></a>
			</span>
		</div>
		</div>
		
	</div><!-- end container -->
	
	<!-- HueMe blurb -->
	<div class="about-blurb">
		<div class="container">
			<section class="jumbotron">The World of HueMe</section>
			<p>The chance to view a world of disconnect as an opportunity is at your fingertips.  
			The world of HueMe combines colour theory and compassion.  To use the words of 
			Dr Amanda Pike of the Florida Art Therapy Association: “Colour has a profound effect 
			on our lives.  Colour is a fundamental aspect of human perception, and it influences 
			cognition and mood”.  Through anonimity, individuals can feel a sense of privacy and 
			safety.  These pathways also encourage expression without censure, but nurture 
			respect.  A community is waiting to hear about your day.
			</p>
		</div>
	</div>
		
</div> <!-- end background div -->