<div class="landing-page">
	<section class="jumbotron city-view">
		<div class="container">
			<h1><span>T</span><span>e</span><span>l</span><span>l</span> <span>u</span><span>s</span> <span>a</span><span>b</span><span>o</span><span>u</span><span>t</span>  <strong>y</strong><strong>o</strong><strong>u</strong><strong>r</strong> <strong>d</strong><strong>a</strong><strong>y</strong></h1>
			<p>Share your experiences</p>
			<div class="row reg-log">
				<div class="col-xs-12 col-sm-6 col-md-6 actions">
					<a href="">Sign-in <img src="styles/styleImgs/signin-icon.png" alt=""></a>
				</div>
				<div class="col-md-6 actions">
					<a ui-sref="landing.register"><img src="styles/styleImgs/register-icon.png" alt=""> Register </a>
				</div>
			</div>
		</div>
	</section>
	<section class="recent-posts">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 media post">
				<div class="media-left">
					<div class="voting">
						
					</div>
				</div>
				<div class="media-body">
					<p class="post-text">
						Bacon ipsum dolor amet filet mignon picanha turducken, meatloaf
						tail corned beef doner pork chop pancetta. Hamburger tri-tip chuck 
						ham hock. Ribeye beef shankle turducken venison salami jowl kevin 
						brisket meatball, rump pig swine leberkas.
					</p>
				</div>
			</div>
		</div>
	</section>
	<section ui-view></section>


</div>