<div class="landing-page">
	<section class="jumbotron city-view">
		<img src="styles/styleImgs/car.png" id="car" class="cars"  alt="">
		<img src="styles/styleImgs/car.png" id="car1" class="cars" alt="">
		<img src="styles/styleImgs/car.png" id="car2" class="cars" alt="">

		<div class="container">
			<h1><span>T</span><span>e</span><span>l</span><span>l</span> <span>u</span><span>s</span> <span>a</span><span>b</span><span>o</span><span>u</span><span>t</span>  <strong>y</strong><strong>o</strong><strong>u</strong><strong>r</strong> <strong>d</strong><strong>a</strong><strong>y</strong></h1>
			<p>Share your experiences</p>
			<div class="row reg-log">
				<div class="col-xs-12 col-sm-6 col-md-6 actions">
					<a ui-sref="landing.login">Sign-in <i class="fa fa-sign-in"></i></a>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 actions">
					<a ui-sref="landing.register">Register <i class="fa fa-user-plus"></i></a>
				</div>
			</div>
		</div>
	</section>
	<section id="postBox">
		<div class="postWrap"  ng-repeat="value in postsCtrl.posts">
			<div class="post">
				<div class="post-header" style="border-radius: 8px 8px 0 0">
					<div class="post-profile-photo"><!-- This is simply a placeholder for the user's avatar image (65px diameter)--></div>
					<div class="post-author">{{value.user}}</div>
				</div>

				<div class="post-content">{{value.post}}</div>

				<div class="post-footer">{{value.time}} ago
				<div class="float-right">
						<i class="fa fa-comment"></i>
				</div>
			</div>
		</div>
	</section>
	<section ui-view></section>
</div>
