<div class="landing-page">
	<section class="jumbotron city-view">
		<div class="container">
			<h1><span>T</span><span>e</span><span>l</span><span>l</span> <span>u</span><span>s</span> <span>a</span><span>b</span><span>o</span><span>u</span><span>t</span>  <strong>y</strong><strong>o</strong><strong>u</strong><strong>r</strong> <strong>d</strong><strong>a</strong><strong>y</strong></h1>
			<p>Share your experiences</p>
			<div class="row reg-log">
				<div class="col-xs-12 col-sm-6 col-md-6 actions">
					<a ui-sref="landing.login">Sign-in <i class="fa fa-sign-in"></i></a>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 actions">
					<a ui-sref="landing.register">Register <i class="fa fa-user-plus"></i></a>
				</div>
			</div>
		</div>
	</section>
	<section class="recent-posts">
		<div class="row" ng-repeat="value in postsCtrl.posts">
			<div class="col-md-6 col-md-offset-3 media post">
				<div class="media-left">
					<div class="voting">
						<img src="" alt="">
						{{value.user}}
					</div>
				</div>
				<div class="media-body">
					<p class="post-text">
						{{value.post}}
						
					</p>
					<p class="post-text">
						{{value.time}} ago
					</p>
				</div>
			</div>
		</div>
	</section>
	<section ui-view></section>
</div>