<div class="container custom-modal">
	<h1 class="formTitle">Login</h1> 
	<form ng-submit="ctrl.onSubmit();" novalidate="novalidate"> 
			<div class="col-lg-12 form-group">
				<label class="col-lg-1 col-md-1 col-sm-1" for="email">Email: </label>
				<input ng-model="ctrl.formModel.email" type="email" class="form-control" id="email" name="email" required autocomplete="off"/> 
			</div>

			<div class="col-lg-12 form-group">
				<label class="col-lg-1 col-md-1 col-sm-1" for="password">Password: </label>
				<input ng-model="formModel.password" ng-pattern="/(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$/"  ng-minlength="8" ng-pattern-err-type="tooSimplePass" type="{{ctrl.inputType}}" class="form-control" id="password" name="password" required autocomplete="off"/> 
				<input class="col-lg-1 col-md-1 col-sm-1 hspass" type="checkbox" id="hideShow" ng-model="passToggle" ng-change="ctrl.HideShow();">
				<label class="col-lg-1 col-md-1 col-sm-1 hspass" for="hide" ng-if="passTogglepassToggle">Hide</label>
				<label class="col-lg-1 col-md-1 col-sm-1 hspass" for="show" ng-if="!passToggle">Show</label>
			</div>
 
			<div class="form-group">
				<button class="btn btn-danger" type="submit" ><span>Register</span></button>
				<a ui-sref="landing" class="cancel-button">cancel</a>
			</div>
	
		</form>
</div>