<!--header, etc-->
<!--nav goes here-->
<main class="my-profile">
		<nav class="navbar navbar-inverse">
	  	<div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-hueme-navbar-collapse" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" alt="Hueme" title="Hueme"><img alt="Hueme" src="styles/styleImgs/logo.png" style="width: 75px;"></a>
			</div>
			<div class="collapse navbar-collapse" id="bs-hueme-navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					 <li><a href="#" alt="Home" title="Home"><i class="fa fa-home fa-2x"></i><span class="sr-only">Home</span></a></li>
					 <li><a href="#" alt="Search Profiles" title="Search Profiles"><i class="fa fa-users fa-2x"></i><span class="sr-only">Search Profiles</span></a></li>
					 <li class="dropdown">
						 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" alt="Search Posts" title="Search Posts"><i class="fa fa-search fa-2x"></i></a>
						 <div class="dropdown-menu" style="padding: 15px; min-width: 350px;">
							 <div class="form-group">
								 <div class="input-group">
									 <span class="input-group-addon"><i class="fa fa-hashtag fa-fw"></i></span>
									 <input class="form-control" id="search-tags" name="search-tags" placeholder="Tags"/>
								 </div>
							 </div>
							 <div class="form-group">
								 <div class="input-group">
									 <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
									 <input class="form-control" id="search-users" name="search-users" placeholder="Users"/>
								 </div>
							 </div>

							 <button class="btn btn-primary btn-block">Search</button>
						 </div>
					 </li>
					 <li><a href="#" alt="Edit Profile" title="Edit Profile"><i class="fa fa-cogs fa-2x"></i><span class="sr-only">Edit Profile</span></a></li>
					 <li><a href="" ng-click="profileCtrl.logOut()"><i class="fa fa-sign-out fa-2x" alt="Sign-Out" title="Sign-Out"></i><span class="sr-only">Sign-out</span></a></li>
				 </ul>
			 </div>
		 </div>
		</nav>
		<script>
			$(function() {
			  $('.dropdown-toggle').dropdown();
			  $('.dropdown input, .dropdown label').click(function(e) {
			    e.stopPropagation();
			  });
			});
	</script>
	<header class="profile-header">
	</header>
<!--profile form-->
<div class="avatar-username-wrap">
	<img ng-src="{{profileCtrl.user.photo_url ? profileCtrl.user.photo_url : '/styles/styleImgs/avatarD1.png' }}" alt="avatar" class="avatar">
	<span class="profile-username">{{profileCtrl.user.username}}</span>
</div>
<form>
	<div class="row" style="margin-top: -60px;">
		<div class="col-xs-12 col-md-3">
			<div class="panel panel-primary" style="width: 370px">
				<div class="panel-heading">About Me
					 <i class="fa fa-pencil edit-profile" ng-click="profileCtrl.enableEditor()" ng-hide="profileCtrl.editorEnabled"></i>
					 <i class="fa fa-times edit-profile" ng-show="profileCtrl.editorEnabled" value="cancel" ng-click="profileCtrl.disableEditor()"></i>
					 <i class="fa fa-floppy-o edit-profile" ng-show="profileCtrl.editorEnabled" value="save" ng-click="profileCtrl.save()" style="margin-right: 5px;"></i>
				</div>
				<div class="panel-body spacing-fix">
					<div class="form-group">
						<div class="input-group">
							<label class="">Description:</label>
							<textarea class="form-control" ng-hide="profileCtrl.editorEnabled" rows="3" style="width: 332px; resize: none; cursor: default" disabled>{{profileCtrl.user.description}}</textarea>
							<textarea class="form-control" ng-show="profileCtrl.editorEnabled" placeholder="Description" ng-model="profileCtrl.temp.description" rows="3" style="width: 332px; resize: none;"></textarea>
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
							<label>Date of Birth:</label>
							<br />
							<div class="input-group" ng-hide="profileCtrl.editorEnabled">
								<input type="text" class="form-control" placeholder="{{profileCtrl.user.dob.month}}" style="width: 150px; cursor: default;" disabled>
								<input type="text" class="form-control" placeholder="{{profileCtrl.user.dob.day}}" style="width: 75px; margin: 0 4px 0 4px; cursor: default" disabled>
								<input type="text" class="form-control" placeholder="{{profileCtrl.user.dob.year}}" style="width: 100px; cursor: default" disabled>
							</div>
							<div ng-show="profileCtrl.editorEnabled" style="margin-bottom: -8px;">
								<ui-select ng-model="profileCtrl.temp.dob.month" theme="bootstrap" style="width: 150px; display: inline-block;" ng-show="profileCtrl.editorEnabled">
									<ui-select-match placeholder="Month">{{$select.selected}}</ui-select-match>
									<ui-select-choices style="max-width: 150px; min-width: 150px; margin-top: 0px;" repeat="month in profileCtrl.months | filter: $select.search">
										<span ng-bind-html="month | highlight: $select.search"></span>
									</ui-select-choices>
								</ui-select>
								<ui-select ng-model="profileCtrl.temp.dob.day" theme="bootstrap" style="width: 75px; display: inline-block;" ng-show="profileCtrl.editorEnabled">
									<ui-select-match placeholder="Day">{{$select.selected}}</ui-select-match>
									<ui-select-choices style="max-width: 75px; min-width: 75px; position: absolute; margin-top: 0;" repeat="day in [] | range:1:profileCtrl.days[profileCtrl.temp.dob.month] | filter: $select.search">
										<span ng-bind-html="day | highlight: $select.search"></span>
									</ui-select-choices>
								</ui-select>
								<ui-select ng-model="profileCtrl.temp.dob.year" theme="bootstrap" style="width: 100px; display: inline-block;" ng-show="profileCtrl.editorEnabled">
									<ui-select-match placeholder="Year">{{$select.selected}}</ui-select-match>
									<ui-select-choices style="max-width: 100px; min-width: 100px; position: absolute; margin-top: 0;" repeat="year in [] | range:1916:2016 | filter: $select.search">
										<span ng-bind-html="year | highlight: $select.search"></span>
									</ui-select-choices>
								</ui-select>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
							<label>Gender:</label>
							<div class="input-group" ng-hide="profileCtrl.editorEnabled">
								<input type="text" class="form-control" placeholder="{{profileCtrl.user.gender}}" style="width: 175px; cursor: default" disabled>
							</div>
							<ui-select ng-model="profileCtrl.temp.gender" theme="bootstrap" style="width:175px" ng-show="profileCtrl.editorEnabled">
								<ui-select-match placeholder="Select Gender">{{$select.selected}}</ui-select-match>
								<ui-select-choices repeat="gender in profileCtrl.genders | filter: $select.search" style="margin-top: 0">
									<span ng-bind-html="gender | highlight: $select.search"></span>
								</ui-select-choices>
							</ui-select>
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
							<label>Country:</label>
							<div class="input-group" ng-hide="profileCtrl.editorEnabled">
								<input type="text" class="form-control" placeholder="{{profileCtrl.user.country}}" style="width: 250px; cursor: default" disabled>
							</div>
							<ui-select ng-model="profileCtrl.temp.country" theme="bootstrap" style="width: 250px;" ng-show="profileCtrl.editorEnabled">
						    <ui-select-match placeholder="Select Country">{{$select.selected}}</ui-select-match>
						    <ui-select-choices repeat="country in profileCtrl.countries | filter: $select.search" style="margin-top: 0">
						      <span ng-bind-html="country | highlight: $select.search"></span>
						    </ui-select-choices>
						  </ui-select>
							</select>
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
							<label>Region:</label>
							<div class="input-group" ng-hide="profileCtrl.editorEnabled">
								<input type="text" class="form-control" placeholder="{{profileCtrl.user.region}}" style="width: 250px; cursor: default" disabled>
							</div>
							<ui-select ng-model="profileCtrl.temp.region" theme="bootstrap" style="width: 250px;" ng-show="profileCtrl.editorEnabled">
								<ui-select-match placeholder="Select Region">{{$select.selected}}</ui-select-match>
								<ui-select-choices repeat="region in profileCtrl.regions[profileCtrl.temp.country] | filter: $select.search" style="margin-top: 0">
									<span ng-bind-html="region | highlight: $select.search"></span>
								</ui-select-choices>
							</ui-select>
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
							<label>City:</label>
							<br />
							<div class="input-group" ng-hide="profileCtrl.editorEnabled">
								<input type="text" class="form-control" placeholder="{{profileCtrl.user.city}}" style="width: 250px; cursor: default" disabled>
							</div>
							<input class="form-control" ng-show="profileCtrl.editorEnabled" type="text" ng-model="profileCtrl.temp.city" style="width: 250px;" placeholder="Enter City">
						</div>
					</div>
				</div>
			</div>
			<div class="panel panel-primary" style="width: 370px" ng-show="profileCtrl.editorEnabled">
				<div class="panel-heading">Select Avatar</div>
				<div class="panel-body">
					<div class="avatars-wrap">
						<img ng-if="profileCtrl.user.photo_url" ng-src="{{profileCtrl.user.photo_url}}" class="avatars"><img ng-show="profileCtrl.editorEnabled" ng-click="profileCtrl.avatSel($index)" ng-repeat="a in profileCtrl.avatars" ng-src="{{a.url}}" ng-class="{border: $index +1 == profileCtrl.selected}" class="avatars" />
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-md-9">
			<section id="profilePost">
				<div class="postWrap">
					<div class="post">
						<div class="post-new-header" style="border-radius: 8px 8px 0 0">
							<div class="post-new-title">Create New Post</div>
						</div>

						<div class="post-new-content"><a ui-sref="myprofile.profileposting" alt="Create New Post" title="Create New Post" class="post-new-button"><i class="fa fa-plus-circle"></i><span class="sr-only">Create New Post</span></a></div>

					</div>
				</div>
			</section>
		</div>

		</div>
	</div>


			<!--
		  {{profileCtrl.user}} <br>
		  {{profileCtrl.temp}}
		-->

</form>

<section ui-view></section>

</main>
