<h3 ng-show="postListingCtrl.waiting">
	
	<!-- alternatively this should be a preloader -->
	<img src="styles/styleImgs/posts-loader.gif" alt="">
</h3>
<div ng-show="!postListingCtrl.waiting">
	<h2 style="text-align: center;">
		posts loaded
	</h2>
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
		<div class="postWrap"  ng-repeat="value in postListingCtrl.posts">
			<div class="post">
				<div class="post-header" style="border-radius: 8px 8px 0 0">
					<div class="post-profile-photo">
						<img src="{{value.photo}}" width="65" height="65" alt="">
					</div>
					<div class="post-author">{{value.username}}</div>
				</div>

				<div class="post-content">{{value.post}} <br>
					{{value.tags}}
				</div>

				<div class="post-footer">{{value.time}}
				<div class="float-right">
						<i class="fa fa-comment"></i>
				</div>
			</div>
		</div>
	</div>

	</div>
</div>
