<div class="container">
	<h1>Registration</h1> 
		<form ng-submit="ctrl.onSubmit();" novalidate="novalidate">
			<div class="form-group">
				<label for="username">Username: </label>
				<input ng-model="ctrl.formModel.username" ng-pattern="/^[A-Za-z0-9_]{1,15}$/" ng-pattern-err-type="unameErr" ng-minlength="5" type="text" class="form-control" id="username" name="username" required autocomplete="off"/> 
			</div>

			<div class="form-group">
				<label for="password">Password: </label>
				<input ng-model="ctrl.formModel.password" ng-pattern="/(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$/"  ng-minlength="8" ng-pattern-err-type="tooSimplePass" type="password" class="form-control" id="password" name="password" required autocomplete="off"/> 
			</div>

			<div class="form-group">
				<label for="email">Email: </label>
				<input ng-model="ctrl.formModel.email" type="email" class="form-control" id="email" name="email" required autocomplete="off"/> 
			</div>

			<div class="form-group">
				<!--why don't we change to age since there's no way we can check their actual age...?(we can just add it to TOS that if it's found false... blah blah.. What's the point of using dob?-->
				<!-- <label for="age">Age: </label>
				<input ng-model="formModel.age" type="number" class="form-control" id="age" min="17" max="90" required /> -->
				<label for="dob">D.O.B: </label>
				<input ng-model="ctrl.formModel.dob" type="date" class="form-control" id="dob" placeholder="yyyy-MM-dd" name="dob" required autocomplete="off"/> 
			</div>

			<div class="form-group">
				<label for="gender">Gender: </label>
				<select ng-model="ctrl.formModel.gender" class="form-control" id="gender" name="gender" required />
					<option value="" disabled selected></option>
					<option value="Female">Female</option>
					<option value="Male">Male</option>
					<option value="Male">Other</option>
				</select>  
			</div>
			
			<div class="form-group">
				I agree with the <a  data-toggle="modal" data-target="#tosFullView">terms and conditions</a>: 
				<input ng-model="ctrl.formModel.tos" type="checkbox" id="tos" name="tos" required> 
			</div>
			 
		  <div class="modal fade" id="tosFullView" role="dialog">
		    <div class="modal-dialog">
		    
		      <!-- Modal content-->
		      <div class="modal-content">
		        <div class="modal-header">
		          <button type="button" class="close" data-dismiss="modal">&times;</button>
		          <h4 class="modal-title">This is Hueme's Terms of Service Policy.</h4>
		        </div>
		        <div class="modal-body">
		          <p>**************************************</p>
		        </div>
		        <div class="modal-footer">
		          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        </div>
		      </div>
		      
		    </div>
		  </div>

			<div class="form-group">
				<button class="btn btn-danger ladda-button" ladda="submitting" data-style="expand-right" type="submit" ><span ng-show="submitting">Registering</span><span class="ladda-spin"></span><span ng-show="!submitting">Register</span></button>
				<a ui-sref="landing" class="cancel-button">cancel</a>
			</div>
	
		</form>
	</div>