.row {
	margin-left: 0px;
	margin-right: 0px;
}
body {
	font: 16px/1.4 'Biryani', sans-serif;
}

.cars{
	position: absolute;
	bottom: 0px;
}

#car{
	animation: moveR 7s linear infinite;
	transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	-o-transform: scaleX(-1);
}

#car1{
	animation: moveL 7s linear infinite;
}

#car2{
	animation: moveR2 9s linear infinite;
	transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	-o-transform: scaleX(-1);
}

@keyframes moveR
{
	0%{left: 1%;}
	100%{left: 80%;}
}

@keyframes moveR2
{
	0%{left: 1%;}
	100%{left: 80%;}
}

@keyframes moveL
{
	0%{left: 80%;}
	100%{left: 1%;}
}

.city-view {
	width: 100%;
	height: 100vh;
	color: #fff;
	background-color: #3b6595;
	background-image: url('styleImgs/city.png');
	 background-size: 80% auto;
	 background-repeat: no-repeat;
	background-position: bottom center;
	background-attachment: fixed;
	margin-bottom: 0;
}
.city-view h1 {
	margin-top: 100px;
	font-weight: lighter;
	text-align: center;
	font-size: 42pt;
}

.city-view h1 strong {
	transition: 0.7s;
}

.city-view h1 strong:hover {
	font-size: 60pt;
}

.city-view p {
	font-weight: light;
	text-align: center;
}

.reg-log {
	margin-top: 20vh;
}

.actions {
	text-align: center;
	height: 150px;
}

.actions a {
	font-size: 1.2em;
	display: inline-block;
	vertical-align: top;
	color: #3b6595;
	/*font-weight: regular;*/
	/*padding: 8px 8px 3px 8px;*/
	padding: 15px 15px 6px 15px;
	text-decoration: none;
	border: 2px solid #fff;
	border-radius: 3px;
	transition: all 0.2s ease-in-out;
	background-color: #fff;
	/*background-color: rgba(0,0,0,0);*/
}

.actions a:hover {
	transform: translate(-3px, -3px);
	background-color: rgba(255,255,255, 0.3);
	box-shadow: 5px 5px rgba(0,0,0, 0.3);
}

.recent-posts{
	padding-top: 10%;
	height: 90vh;
}

/* this is just a dummy square for now */
.voting {
	width: 60px;
	height: 80px;
	background-color: #ad351e;
}
.post-text {
	font-weight: lighter;
	padding-left: 20px;
}


/* styles for register modal */
.custom-modal-backdrop {
	 position: fixed;
	 top: 0px;
	 left: 0px;
	 height:100%;
	 width:100%;
	 background: black;
	 z-index: 0;
	 opacity: 0.2;
}

.custom-modal {
	/*  keeps the lightbox window in the current viewport */
	position: absolute;
	top: 10%;
	left: 50%;
	margin-left: -20%;
	width:40%;
	padding-bottom: 2%;
	border-radius: 15px;
    text-align: left;
    background-color: #fff;
    color: #000;
    z-index: 2;
    /* Add some box-shadow to give the modal dialog some depth */
  	box-shadow: 5px 5px 8px rgba(0,0,0, 0.3),
  				5px -5px 8px rgba(0,0,0, 0.3),
  				-5px 5px 8px rgba(0,0,0, 0.3),
  				-5px -5px 8px rgba(0,0,0, 0.3);
}

.cancel-button {
	margin-left: 20px;
	color: #fff;
	border-radius: 5px;
	border: 1px solid #097272;
	background-color: #319999;
}

.cancel-button:hover{
	text-decoration: none;
	color: white;
	background-color: #097272;
}

.revealPass {
	cursor: pointer;
}

.tos {
	position: relative;
	top: 0;
	left: 0;
	height: 75vh;
	z-index: 2;
}

.AgreeCb
{
	font-size: 0.7em;
}

.checkboxes label {
	position: relative;
	top: -8px; /* Default Line-Height is 16px, 16px/2 = 8px */
}

input[type=checkbox]:checked, input[type=checkbox]:not(:checked) {
	position: absolute;
	left: -99999px;
}

input[type=checkbox]:checked + label, input[type=checkbox]:not(:checked) + label {
	position: relative;
	padding-left: 25px;
	cursor: pointer;
}

input[type=checkbox]:checked + label:before, input[type=checkbox]:not(:checked) + label:before {
	content: '';
	position: absolute;
	width: 15px;
	height: 15px;
	border: 1px solid #aaa;
	border-radius: 3px;
	box-shadow: 	inset 0 1px 3px rgba(0,0,0, 0.3),
					1px 1px 0 rgba(0,0,0, 0.1);
}

input[type=checkbox]:checked:focus + label:before, input[type=checkbox]:not(:checked):focus + label:before {
	box-shadow: 1px 1px 1px rgba(0,0,0,0.4);
}

label:hover:before {
	border: 1px solid rgba(0,0, 255, 0.7) !important;
}

input[type=checkbox]:checked + label:after, input[type=checkbox]:not(:checked) + label:after {
	font-family: FontAwesome;
	content: '\f00c';
	position: absolute;
	top: -1px;
	font-size: 18px;
	line-height: 0.8;
	color: #09ad7e;
	transition: all .2s;
}

input[type=checkbox]:not(:checked) + label:after {
	opacity: 0;
	transform: scale(0);
}

input[type=checkbox]:checked + label:after {
	opacity: 1;
	transform: scale(1);
}

.checkboxes span {
	padding-left: 20px;
}

.tos-strong{
	font-size: 3em;
}
.input-group {
	padding: 10px 0;
}

.modal-title {
	color: #AAA;
	text-shadow: 1px 1px 0 rgba(0,0,0, 0.5);
}

.modal-footer {
	height: 100px;
}

.modal-footer + .btn + .btn-primary + .btn-block {
	padding: 10px 0 20px 0;
}

.tos .modal-header, .tos .modal-footer {
	height: 10vh
}

.tos .modal-body, .tos .nano {
	margin: 1vh 0;
	max-height: 51vh !important;
}

/* form-control-feedback fix */
.form-control-feedback {
  top: 18px;
}
/* preloader */
.preloader {
	position: absolute;
	top:40%;
	left: 50%;
	margin-left: -50px;
	width: 100px;
	height: 100px;
}

#postBox{
	position: relative;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-wrap: wrap;
	flex-wrap: wrap;
	min-width: 100vw;
	max-width: 100vw;
	padding: 10px;
	background: #EEE;
	z-index: -2;
}

.postWrap {
	z-index: 10;
	display: inline-block;
}


.post {
	position: relative;
	display: inline-block;
	width: 277px;
	border: 1px solid rgba(0,0,0, 0.3);
	border-radius: 8px;
	background-color: #f9f9f9;
	margin: 10px;
	box-shadow: 	3px 3px 5px rgba(0,0,0, 0.1),
					-3px -3px 5px rgba(0,0,0, 0.1);
}

.multi-post {
	position: relative;
	width: 275px;
	top: -3px; left: -3px;
	box-shadow: -3px -3px 5px rgba(0,0,0, 0.1);
	z-index: initial;
}

.multi-post::after {
	content: "";
	position: absolute;
	width: 275px;
	height: 100%;
	top: 3px; left: 3px;
	border: 1px solid rgba(0,0,0, 0.3);
	border-radius: 8px;
	background-color: #fff;
	box-shadow: 3px 3px 5px rgba(0,0,0, 0.1);
	z-index: -1;
}

.post-footer {
	position: relative;
	height: 49px;
	width: 275px;
	bottom: 0;
	color: #555;
	line-height: 50px;
	text-align: center;
	border-top: 1px solid rgba(0,0,0, 0.3);
	border-radius: 0 0 8px 8px;
	background-color: #ededed;
}

.post-header {
	position: relative;
	height: 95px;
}

.post-author {
	color: rgba(0,0,0, 0.8);
	font-size: 20px;
	line-height: 95px;
	font-weight: 900;
}

.post-content {
	position: relative;
	color: black;
	min-height: 200px;
	padding: 0 15px 15px 15px;
}

.post-content::before, .post-content::after {
	position: relative;
	font-family: 'FontAwesome';
	font-size: 6px;
	top: -6px;
}

.post-content::before {
		content: "\f10d";
		padding-right: 2px;
}

.post-content::after {
	content: "\f10e";
	display: inline;
	padding-left: 2px;
}

.post-profile-photo {
	float: left;
	margin: 15px;
	width: 65px;
	height: 65px;
	border-radius: 50%;
	background-color: rgba(0,0,0, 0.3);
}

.float-right {
	display: block;
	position: relative;
	float: right;
	height: 49px;
	left: -15px;
	color: rgba(26,163,163, 0.4);
	font-size: 25px;
	line-height: 49px;
}

.float-right > i.fa.fa-comment {
	line-height: 49px;
}

.avatars{
	width: 100px;
	height: 100px;
	margin: 20px;
}

.border{
	border: 2px solid red;
	border-radius: 100%;
}

#profSave{
	display: none;
}

i.fa.fa-pencil{
	border: 2px solid black;
	padding: 5px;
	border-radius: 7px;
}

/* styles for my profile page */
.my-profile {

}

.profile-header {
	background-image: url('styleImgs/profile-header.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 250px;
}

.navigation {
	color: #fff;
	background-color: rgba(255,255,255,0.1);
	border: none;
}

.logo {
	width: 120px;
	height: auto;
}
.welcome {
	text-align: center;
}

.avatar {
	width: 120px;
	height: auto;
	position: relative;
	left: 40%;
	bottom: 60px;
}

@media screen and (max-width: 860px)
{
	#car{
	animation: moveR 6s linear infinite;
	transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	}

	#car1{
		animation: moveL 6s linear infinite;
	}

	#car2{
	animation: moveR2 8s linear infinite;
	transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	}

	@keyframes moveR
	{
		0%{left: 1%;}
		100%{left: 80%;}
	}

	@keyframes moveR2
	{
		0%{left: 1%;}
		100%{left: 80%;}
	}

	@keyframes moveL
	{
		0%{left: 80%;}
		100%{left: 1%;}
	}
}

@media screen and (max-width: 580px)
{
	#car{
		display: none;
	}

	#car1{
		display: none;
	}

	#car2{
		display: none;
	}
}

@media screen and (max-width: 400px)
{
	.reg-log{
		margin-top: 15px;
	}

	.actions{
		height: 100px;
	}
}
